* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d0ffed;
}

body {
  width: 100%;
  height: 100vh;

background: radial-gradient(circle at left, #1f1e19c5 5%, #994e8fb6 98%);

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeeaea;
}


.logo {
  margin: 3rem 0 2rem;
  width: 8rem;
}

main section {
  display: flex;
  flex: 1;
  gap: 1.25rem;
  padding-bottom: 2rem;
}

form {
  background-color: #080808a9;
  border-radius: 1rem;
  padding: 2.5rem;
  max-width: 462px;

  display: flex;
  flex-direction: column;
}

form h1 {
  font-size: 1.25rem;
}

form p {
  font-size: 0.87rem;
  color: #e6e9e8;
  margin: 0.75rem 0 2.5rem;
}

fieldset {
  border: none;
  display: flex;
}

fieldset legend {
  text-transform: uppercase;
  font-size: 0.62rem;
  color: #d5dbd9;
  margin-bottom: 0.5rem;
}

fieldset:focus-within legend {
  color: #ffffff;
  font-weight: 700;
}

input,
select {
  flex: 2;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #cdd5d2;
  padding: 0 1rem;
  font-size: 0.87rem;
  color: hsl(0, 0%, 99%);
  background-color: rgba(77, 97, 78, 0);
  outline: none;
}

select {
  appearance: initial;
  background-image: url(img/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.25rem auto;
}
select option{
  background-color: #241d1da2;
}

input::placeholder,
select:invalid {
  color: #ffffff;
}

input:focus,
select:focus {
  border: 1.5px solid #000000;
}

.inputs-row {
  display: flex;
  flex: 1;

  gap: 1rem;
  margin-top: 1rem;
}

.inputs-row fieldset:first-child {
  flex: 1;
}

.inputs-row fieldset:last-child input {
  max-width: 154px;
}

form button {
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.87rem;
  color: #ffffff;
  background-color: #1f8458d3;
  opacity: 0.8;
  font-weight: 700;
  padding: 1rem 1.25rem;
  cursor: pointer;

  transition: background-color 0.6s;
}

button:hover {
  background-color: #2cb178;
}

form button:last-child {
  margin-top: 2rem;
}

aside {
  background-color:  #080808a9;
  border-radius: 1rem;
  padding: 4.2rem;
  max-width: 462px;

  min-width: 600px;
}

aside header {
  display: flex;
  justify-content: space-between;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e4ece9;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}
aside header p {
  color: #d6dddb;
  font-weight: 400;
  font-size: 1rem;
}

aside header p span {
  color: #eef5f2;
  font-weight: 400;
  font-size: 0.87rem;
}

aside header p i {
  color: #cdd5d2;
  margin: 0 0.5rem;
  font-style: normal;
}

aside header h2 {
  font-size: 1rem;
  color: #c8ddd6;
}

aside header small {
  color: #d0dad6;
  font-weight: 400;
  font-size: 0.75rem;
  margin-right: 0.25rem;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-height: 310px;
  min-height: 310px;

  overflow-y: scroll;
}

.expense {
  display: flex;
  align-items: center;
  height: 38px;
}

.expense img:first-child {
  width: 2rem;
  height: 2rem;

  margin-right: 0.75rem;
}

.expense > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.expense-info strong {
  font-size: 0.87rem;
  color: #ffffff;
}

.expense-info span {
  font-size: 0.75rem;
  color: #dfdfdf;
}

.expense-amount {
  font-size: 0.87rem;
  color: #fafafa;
  font-weight: 600;
}

.expense-amount small {
  font-size: 0.75rem;
  color: #ffffff;
  font-weight: 400;
  margin-right: 0.25rem;
}

.remove-icon {
  height: 1rem;
  margin-left: 0.5rem;

  cursor: pointer;
  transition: opacity 0.2s;
}

.remove-icon:hover {
  opacity: 0.7;
}

@media (min-width: 1100px) {
  form {
    max-height: 428px;
  }
}

@media (max-width: 1100px) {
  :root {
    font-size: 14px;
  }

  main,
  aside {
    min-width: 100%;
  }

  main section {
    flex-direction: column;
    width: 100%;

    padding: 1.5rem;
  }

  main section form {
    min-width: 100%;
  }

  main section aside ul {
    width: 100%;
    height: auto;
    overflow: auto;
  }
}

@media (max-width: 620px) {
  .inputs-row {
    flex-direction: column;
  }

  .inputs-row fieldset:last-child input {
    max-width: auto;
    min-width: 100%;
  }

  aside header {
    flex-direction: column;
    align-items: center;
  }
}
